/* .title::after{
    content:"get in touch";
} */
.contact-section{
    /* font-family: 'Ubuntu',sans-serif; */
    /* background-color: #2962ff;; */
    /* background-image: linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef),linear-gradient(45deg,#efefef 25%,rgba(239,239,239,0) 25%,rgba(239,239,239,0) 75%,#efefef 75%,#efefef); */
    /* opacity: 0.4; */
    /* width: 100%; */
    /* padding: 2rem; */
    

}

.extra-container{
    /* margin-top: 4rem ; */
    padding: 5rem;
    background-image: url("contact-img4.jpg");   
    background-size: cover; 
    background-repeat: no-repeat;
    /* background-position :0%; */
    /* backdrop-filter: 5.5; */
}

.contact-section .title{
    display: flex;
    justify-content: center;
    /* font-family: 'Ubuntu',sans-serif; */
    font-size: 5rem;
    font-weight: 600;
    /* padding-top: 5rem; */
    /* margin-top: 2rem; */
    background: -webkit-linear-gradient(#FDD20EFF, #FCF6F5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* margin-top: 3rem; */

}
.contact-container{
    display: flex;
    /* padding: 3rem 3rem; */
    /* justify-content: center; */
    /* flex-wrap: wrap; */
    margin-top: 3rem;
    width: 100%;
    box-shadow: 4px 4px 4px;
    /* color: #fff; */
    font-family: 'poppins',sans-serif;


}

.contact-section .extra-container .left-right-title{
    color: wheat;
    font-size: 25px;
    /* border: 2px solid black; */
    /* background-color: white; */
    margin-bottom: 1rem;

}

.contact-desc p {
    text-align: justify;
    /* width: calc(70% - 10%);S */

}

.contact-desc .icon{
    /* margin: 1rem 0rem; */
}
.contact-container #contact{
    /* border: 2px solid red; */
    width: 50%;
    /* margin: 0rem 3rem; */
    padding: 2rem;
    
}

.contact-container .left-content{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* flex-wrap: wrap; */
    /* box-shadow: 3px 3px 5px; */
    /* color: wheat; */
    /* padding-left: 1rem; */
    color: crimson;



}

.row i{
font-size: 1.5rem;    
color: crimson;

}

.row{
    /* border: 2px solid yellow; */
    margin: 1rem 0rem;
    display: flex;
    /* height: 4rem; */
    /* justify-content: center; */
    align-items: center;
    margin-left: 1rem;
    
}

.row .head{
    font-weight: 300;
    font-size: 1.5rem;
}

.row .sub-title{
    color: white
}

.info{
    /* display: flex; */
    margin-left: 2rem;
    /* flex-direction: column; */
    /* align-items: center; */
}

.contact-media-icons{
    color: white;
    width: 50%;
    display: flex;
    padding-top: 1rem;
    padding-left: 1rem;
    justify-content: space-between;
    font-size: 1.5rem;

}

.contact-media-icons .fa-facebook{
    color: 	#1877f2;
}

.contact-media-icons .fa-instagram{
    color: 	#e95950;
}

.contact-media-icons .fa-linedin{
    color: #0072b1; 
}
.contact-media-icons .fa-google{
    color: yellow;
}
.contact-media-icons .fa-whatsapp{
    color: 		#34B7F1;
}



/*.................. contact form right section .............*/

.contact-container .right-content{
    /* border: 3px solid black; */
    /* width: 50rem; */
    /* margin-right:5rem; */
    /* background-color: #333; */
    /* padding: 2rem;*/
    /* box-shadow: 3px 3px 10px; */
    /* color: wheat; */
    border-radius: 3px 3px 5px;
}

.contact-container .right-content .fields{
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    /* margin-top: 1rem; */
    /* padding: 2rem; */
    border-radius: .5rem;
    flex-wrap: wrap;
}

.contact-container .right-content .fields .fname-email{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: .5rem;

}

.contact-container .right-content .fields #fname-email{
    /* height: 3rem; */
    width: 49%;
}

/* .right-content .fields .field, */
.contact-container .right-content .fields input, textarea{
    height: 2.5rem;
    width : 100%;
    margin : 0rem 1rem 1rem 0rem;
    border-radius: 0.50rem;
    background:none;
    border:  1px solid crimson;
    padding: 0rem 1rem;
    color: aliceblue;
    font-family: 'poppins',sans-serif;


} 

::placeholder{
    color: white;
    opacity: 0.5;
}

.contact-container .right-content .fields  textarea{
        height: 8rem;
        border-radius: 0.50rem;
    
        
}

.contact-container .right-content .fields .field input{
    /* height: 100%; */
    /* width: 100%; */
}

.contact-container .right-content .fields button{
    padding: 0.70rem 1rem;
    border-radius: 0.50rem;
    font-family: 'poppins',sans-serif;
    color: wheat;
    background: none;
    border: 2px solid crimson;
   
}

.contact-container .right-content .fields button:hover{
    /* background-color: black; */
    color: white;
    background: none;
    border: 1px solid white;
    /* background-color: aliceblue; */
    font-weight: 700;
}

@media(max-width:361px){

    .contact-container{
        display: flex;
        flex-direction: column-reverse;
        box-shadow: none;
    /* background-color: aliceblue; */
    /* border: 2px solid crimson; */

    }
   .contact-container #contact{
        width: 100%;
        padding: 0rem;
        
   }

   .contact-container .right-content{
    margin-bottom: 4rem;

   }

   .contact-container .left-content{
    

   }
   
   .contact-container .right-content .fields #fname-email{
    /* height: 3rem; */
    width: 100%;
    }



} 

/* ...........esponsive media query...........esponsive */
@media(max-width:500px){

    .contact-container{
        display: flex;
        flex-direction: column-reverse;
        box-shadow: none;
    /* background-color: aliceblue; */
    /* border: 2px solid crimson; */

    }
   .contact-container #contact{
        width: 100%;
        padding: 0rem;
        
   }

   .contact-container .right-content{
    margin-bottom: 4rem;

   }

   .contact-container .left-content{
    

   }
   
   .contact-container .right-content .fields #fname-email{
    /* height: 3rem; */
    width: 100%;
    }



} 
