.skills-section{
    /* border: 2px solid green; */
    /* background-color: wheat; */
    background-color: #170f11;


}

.skill-extra-container{
    padding: 5rem;
}
.skill-head{

    display: flex;
    justify-content: center;
    /* font-family: 'Ubuntu',sans-serif; */
    font-size: 6rem;
    font-weight: 700;
    color: #F2AA4CFF;
    /* background-color: wheat; */
    margin-bottom: 3rem;


}
.skill-container{
    display: flex;
    /* border: 2px solid black; */
    /* height: 100%; */
    font-family: 'poppins',sans-serif;
    flex-wrap: wrap;
    /* justify-content: flex-end; */
    width: 100%;
    /* padding: 3rem 5rem; */



   
}

.skill-container #left-right{
    width: 50%;
    /* border: 2px solid #0d96e0; */
    display: flex;
    /* padding: 3rem 6rem; */
    /* padding: 6rem 0rem 0rem 0rem; */
    color: wheat;
    /* margin: 3rem 0rem; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.skill-container .left-content{
    /* background-color: #0d96e0; */
    margin: 6rem 0rem;

}

.desc-skill .skill-btn{
    /* text-align:; */
    /* width: fit-content; */
    font-family: "Poppins",sans-serif;
    background: transparent;
    color: white;
    border: 2px solid #F2AA4CFF;


}
/* 
.right-content button{
    background-color: crimson;
    border: 1px solid #333;
    padding: .1rem;
    border-radius: .5rem;
    font-family: 'poppins',sans-serif;
    box-shadow: 5px 5px 5px;
    color: white;
} */


/*/................... right section.................. */

.skill-container .right-content {
    font-family: "Poppins",sans-serif;
    /* color: black; */
    font-weight: 500;
    display: flex;
    flex-direction: column;
    /* width: fit-content; */
    /* padding: 6rem; */
}

.skill-container .right-content .right-content-sub{
    padding: 3rem;
    margin: 3rem;
    /* margin: 2rem 0rem 2rem 5rem; */
    /* border: 2px solid green; */
    box-shadow: 3px 3px 5px;
    /* background-color: #111; */
    /* border-radius: 1rem; */

}

.progressbar h1{
    margin-bottom: 50px;
    letter-spacing: 2px;
    text-align: center;
    font-size: 33px;
    font-weight: bold;
}
.skills:not(:last-child){
    margin-bottom: 1rem;
}

.right-content-sub .skills .details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: .5rem;
    /* background-color: #0a7aca; */
}

.right-content-sub .skills .details span{
    color: wheat;  

}

.right-content-sub .skills .bar{
    /* position: relative; */
    /* width: 30rem; */
    height: .5rem;
    background-color: #0d96e0;
    border-radius: .5rem;
    background-color:  wheat;
    
}

.bar div{
    width: 0rem;
    height: .5rem;
    background-color: #0d96e0;
    /* position: relative; */
    border-radius: .5rem;


}

#html-bar{
    animation: html-fill 2s forwards;
}
@keyframes html-fill{
100%{
        width: 80%;
    }
}

#css-bar{
    animation: css-fill 2s forwards;
}
@keyframes css-fill{
    100% {
        width: 70%;
    }
}

#javascript-bar{
    animation: javascript-fill 2s forwards;
}
@keyframes  javascript-fill{
    100%{
        width: 40%;
    }
}

#technician-bar{
    animation: technician-fill 2s forwards;
}

@keyframes technician-fill {
    100%{
        width: 50%;
    }
}







/*............... responsive media query ........... */

@media(max-width: 500px){
    .skill-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* border: 2px solid chocolate; */
    }

    .skill-container #left-right{
        /* border: 2px solid chocolate; */
        width: 100%;

    }
    .desc-skill{
        text-align: center;
    }
}
@media(max-width: 361px){
    .skill-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        /* border: 2px solid chocolate; */
    }

    .skill-container #left-right{
        /* border: 2px solid chocolate; */
        width: 100%;

    }
    .desc-skill{
        text-align: center;
    }
}